<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
{{>header}}
<p>This website is created by Saurav Pandey.This site uses data from mapbox.com and openweather.com</p>
    <img src="/image/me.png"  class="potrait">
    </div>
    
    {{>footer}}
</body>

</html>